/* SPECIFIK CSS FÖR BÖCKER I LISTAN */

/* Styling för "bok-kort" */
.book-item {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.book-item:hover {
  transform: scale(1.05); /* Kortet förstoras något */
}

/* Wrapper för bilden och overlay */
.book-image-wrapper {
  position: relative;
  overflow: hidden;
}

/* Styling för bild i kort*/
.book-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
}

.book-item:hover .book-img {
  filter: brightness(20%); /* Mörkar bilden vid hover */
}

/* Overlay-effekt för "Läs mer" */
.book-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Visar overlay vid hover */
.book-item:hover .book-overlay {
  opacity: 1;
}

/* Styling för "Läs mer" */
.overlay-text {
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
}
