main {
  margin: 4rem auto !important;
  min-height: 80vh;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

/* Marginaler för ikoner */
.bi {
  margin-right: 2px;
}

/* Responsivitet */
@media screen and (max-width: 768px) {
  main {
    margin: 2rem auto !important;
  }

  nav ul {
    padding: 2rem 0;
  }

  nav ul li {
    padding: 1rem 0;
  }

  .last {
    margin-right: 1.5rem;
  }
}